body{
  background-color: rgb(173, 192, 203);
  font-family:'Nunito', sans-serif;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollable{
  max-height: 10rem;
  overflow-y: auto;
}

.border-white{
  border: double;
}

.list-item{
  background-color: rgba(119, 166, 198, 0.536);
}

.completed{
  font-size: small;
}

.trans-bg{
  background-color:rgba(119, 166, 198, 0.536);
  width: fit-content;
  border-radius: 10px;

}

.neon-text {
  color: rgb(241, 244, 247);
  text-shadow:
    0 0 7px rgb(161, 173, 200),
    0 0 10px rgb(161, 173, 200),
    0 0 21px rgb(161, 173, 200),
    0 0 42px rgb(0, 123, 255),
    0 0 82px rgb(0, 123, 255),
    0 0 92px rgb(0, 123, 255),
    0 0 102px rgb(0, 123, 255),
    0 0 151px #0fa;
}

.bottom-row {
  justify-content: space-between;
}

/* input[type="checkbox"]:checked{
  background-color: rgb(215, 6, 177) !important;
} */

.trademark{
  color: white;
  font-size: 12px;
  font-style: italic;
  opacity: 75%;
}


.weather{
  max-width: max-content;
  font-size: smaller;
  background-color: rgba(103, 124, 138, 0.768);
  padding: 1rem;
}

.clock{
  font-size: 50px;
}

.date{
  text-align: center;
  font-size: xx-large;
  
}