body{
  background-color: cadetblue;
  font-family: 'Nunito Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: cadetblue;
}

.bottom-row {
  justify-content: space-between;
}

.card {
  background-color: rgba(169, 169, 169, 0.420);
  width: fit-content;
  
}

.trademark{
  color: white;
  font-size: smaller;
}

.quotes{
 font-size: 20px;
}

.weather{
   background-color: rgba(169, 169, 169, 0.420);
   font-size: 16px;
   font-style: italic;
   max-height: 10rem;
   border-radius: 10px;
   font-weight: 600;
}


.clock{
  margin-left: 30rem;
  margin-right: 30rem;
  font-size: 80px;
  background-color: rgba(169, 169, 169, 0.420);
  border-radius: 30px;
}

.text-shadow{
    color: rgb(230, 236, 241);
  text-shadow: 1px 1px rgb(61, 61, 61), 0px 0px 5px rgba(149, 146, 180, 0.719);
  letter-spacing: 0.08rem;
  
  /* letter-spacing: 0.08rem; */
}
